SQITCH_USER=First Last
SQITCH_EMAIL=first.last@gmail.com
SQITCH_SCHEMA_DEFAULT = schema
SQITCH_ENGINE = pg
SQITCH_ENGINE_CLIENT = psql

DB_USER = postgres
DB_PASSWORD = postgres
DB_HOST = localhost
DB_PORT = 5432
DB_CONTAINER = postgres-container
